body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
}

a{
    text-decoration: none;
}

.signup:hover{
    text-decoration: underline;
}

.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

h1 {
    color: rgb(23, 162, 184);
}

.form-control::-webkit-input-placeholder{
    color: white;
}

.welcome-name{
    bottom: -25%;
}